@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);
$gray: mat-palette($mat-gray);

:host {
  .full-page{
    border: 20px solid #3F51B5;

    .left-side{
      background-color: mat-color($gray, 100);
      color: mat-color($primary, 900);
      border-right: 1px solid mat-color($gray, 300);
      padding: 5%;
      text-align: center;

      img{
        max-width: 100%;
      }
      h1{
        font-size: 2.3em;
        line-height: 1em;
        font-weight: 600;
        margin: 0px 0 20px;
      }
      p{
        color: mat-color($primary, 200);
        font-weight: 500;
        line-height: 1.7em;
        font-size: 1em;
      }
    }

    .right-side{
      background-color: mat-color($gray, 50);

      mat-card{
        @include mat-elevation(0);
        background-color: transparent;
        padding: 20px 30px;
        width: 450px;

        mat-card-header{
          ::ng-deep .mat-card-header-text {
            margin: 0px 0px 10px !important;
          }

          mat-card-title{
            color: mat-color($primary, 900);
            font-size: 2.3em;
            line-height: 1em;
            font-weight: 600;
            margin: 0px 0 15px;
          }

          mat-card-subtitle{
            color: mat-color($primary, 200);
            font-weight: 500;
            line-height: 1.7em;
            font-size: 1em;
          }
        }

        mat-card-content,
        mat-card-actions{
          margin: 0;
        }

        button[type=submit]{
          padding: 5px 40px;
        }
      }
    }
  }
}
