<div class="dashboard-header" fxLayout="row" fxLayoutAlign="space-evenly stretch">
  <div class="dashboard-header-item">
    <h1>75</h1>
    <span>Donec sollicitudin, purus vitae consectetur dignissim</span>
  </div>

  <div class="dashboard-header-item">
    <h1>153</h1>
    <span>Aenean blandit maximus lectus rutrum condimentum</span>
  </div>

  <div class="dashboard-header-item">
    <h1>148</h1>
    <span>Duis ac urna elementum auctor metus sit amet convallis lacus</span>
  </div>

  <div class="dashboard-header-item">
    <h1>92</h1>
    <span>Aliquam ac pretium nisi in ultrices aliquam sem convallis</span>
  </div>

</div>
