:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .pessoa-form-header{
    padding: 20px;

    img{
      max-width: 80%;
      border-radius: 25%;
    }
  }

  .mat-accordion{
    margin-bottom: 10px;
  }

  .mat-list-base {
    padding-top: 0px !important;
  }
}
