.mat-dialog{
  min-width: 420px;

  .mat-dialog-container{
    padding: 12px 24px;
    border-radius: 10px !important;

    .mat-dialog-title{
      margin: 0 0 15px;
      position: relative;

      h2{
        margin: 0;
      }

      button{
        position: absolute;
        right: -15px;
        top: 0px;
        min-width: auto !important;
        padding: 0px 8px !important;
      }
    }

    .mat-dialog-content{
      padding: 0px 24px 15px;
    }

    .mat-dialog-actions {
      padding: 8px 0;
      margin-bottom: 0;
      min-height: auto;
    }
  }
}
