<main fxLayout="column" fxLayoutAlign="start stretch" fxFill>
  <!-- HEADER -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    PGI
    <span fxFlex></span>

    <ng-container *ngIf="(authenticated$ | async)">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="logout()">Sair</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>

  <!-- MAIN -->
  <mat-sidenav-container fxFlex="grow" fxLayout="row" fxLayoutAlign="start stretch">

    <!-- SIDEBAR -->
    <mat-sidenav fxFlex="250px" color="primary" #sidenav mode="side" [(opened)]="sideBarStatus">
      <mat-nav-list>
        <h2 matSubheader>My Work</h2>
        <a mat-list-item routerLink="/main/unidades-escolares"><mat-icon matListIcon>assignment</mat-icon> Activies</a>
        <a mat-list-item routerLink="/main/cargos"><mat-icon matListIcon>dashboard</mat-icon> Dashboard</a>

        <h2 matSubheader>Customers</h2>
        <a mat-list-item><mat-icon matListIcon>contacts</mat-icon> Accounts</a>
        <a mat-list-item><mat-icon matListIcon>people</mat-icon> Contacts</a>
        <a mat-list-item><mat-icon matListIcon>settings_phone</mat-icon> Leades</a>
        <a mat-list-item><mat-icon matListIcon>account_box</mat-icon> Opportunities</a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- CONTENT -->
    <mat-sidenav-content fxFlex>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
