@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);
$sucess: mat-palette($mat-green);
$danger: mat-palette($mat-red);

@import "./theme/base";
@import "./theme/toolbar";
@import "./theme/button";
@import "./theme/sidebar";
@import "./theme/dialog";
@import "./theme/table";
@import "./theme/expansion";
@import "./theme/custom-elements";
