<mat-toolbar class="internal-page-toolbar" disable>
  <button mat-button color="primary" [disabled]="!pessoaForm.valid">
    <mat-icon>save</mat-icon> Salvar registro
  </button>

  <button mat-button>
    <mat-icon>print</mat-icon> Imprimir ficha
  </button>

  <button mat-button>
    <mat-icon>email</mat-icon> Enviar e-mail
  </button>
</mat-toolbar>

<div [formGroup]="pessoaForm">
  <div fxLayout="row" fxLayoutAlign="start stretch" class="pessoa-form-header">
    <div fxFlex="15" fxLayout="row" fxLayoutAlign="center stretch">
      <img src="assets/images/profile-picture-default.jpg">
    </div>
    <div fxFlex="grow" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
        <!-- CIRME -->
        <mat-form-field appearance="fill" fxFlex="28">
          <mat-label>CIRME</mat-label>
          <input matInput placeholder="CIRME" formControlName="id" readonly>
        </mat-form-field>

        <!-- NOME -->
        <mat-form-field appearance="fill" fxFlex="47">
          <mat-label>Nome Completo</mat-label>
          <input matInput placeholder="Nome Compelto" formControlName="nome_completo" value="" cdkFocusInitial>
          <mat-error *ngIf="pessoaForm.controls.nome_completo.hasError('required')">
            Nome do cargo é <strong>exigido</strong>
          </mat-error>
        </mat-form-field>

        <!-- CPF -->
        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="CPF" formControlName="cpf" value="" mask="000.000.000-00" >
          <mat-error *ngIf="pessoaForm.controls.cpf.hasError('required')">
            Nome do cargo é <strong>exigido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
        <!-- DATA DE NASCIMENTO -->
        <mat-form-field appearance="fill" fxFlex="auto">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" (focus)="picker.open()" formControlName="data_nascimento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="multi-year"></mat-datepicker>
        </mat-form-field>

        <!-- SEXO -->
        <mat-form-field appearance="fill" fxFlex="auto">
          <mat-label>Sexo</mat-label>
          <mat-select>
            <mat-option value="masculino">Masculino</mat-option>
            <mat-option value="feminino">Feminino</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- TELEFONE -->
        <mat-form-field appearance="fill" fxFlex="auto">
          <mat-label>Telefone</mat-label>
          <input matInput placeholder="Telefone" formControlName="telefone" value="" mask="(00) ?90000-0000">
        </mat-form-field>

        <!-- EMAIL -->
        <mat-form-field appearance="fill" fxFlex="30">
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="E-Mail" formControlName="email" value="" >
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
